@model apartment

<h3>@Model.name Information</h3>
<table>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>UNIT</th>
        <th>PAYMENT</th>
    </tr>
    <tr>
        <td>@Model.id</td>
        <td>@Model.name</td>
        <td>@Model.unit</td>
        <td>@Model.payment</td>
    </tr>
</table>
<div style="display:block">
    <a href="/Admin/UpdateApartment/@Model.id">Update this apartment</a>

</div>
<div style="display:block">
    @using(Html.BeginForm("DeleteApartment", "apartment", "Post"))
        {
            <input type="hidden" asp-for="id" value="@Model.id"/>
            <input type ="submit" onclick="return confirm('Are you Sure?')" value="Delete this apartment"/>
        }

</div>
