@model apartment

<h3>@Model.name Information</h3>
<table>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>UNIT</th>
        <th>PAYMENT</th>
    </tr>
    <tr>
        <td>@Model.id</td>
        <td>@Model.name</td>
        <td>@Model.unit</td>
        <td>@Model.payment</td>
    </tr>
</table>
